extends layout

block content
    h2 About Us
    p
      | We are passionate about books and believe in the power of reading to inspire, educate, and entertain. Our goal is to provide a platform where book lovers can connect with their favorite authors and discover new literary treasures.
    p
      | Thank you for visiting our website. Happy reading!
