extends layout

block content
  h1 Books
  p Here you will find a list of top 10 books available for reading. Check out our collection!
  form(action='/books/search', method='get')
    input(type='text', name='query', placeholder='Enter a book title')
    button(type='submit') Search
  table
    thead
      tr
        th Sr. No
        th Title
    tbody
      each book, index in booksList
        tr
          td= index + 1.
          td
            a(href=`${book.link}`, target="_blank")= book.title
