extends layout

block content
  h1 Welcome to Our Book Library!
  p
    | Welcome to our book library website. Here, you can find a vast collection of books from various genres.
    br
    | Whether you are an avid reader or just starting your reading journey, our library has something for everyone

  h2 How to Use the Library
  p
    | Our book library is easy to navigate. Simply use the navigation bar at the top to explore different sections of the website.
  p
    | Don't forget to follow us on social media for updates, book recommendations, and more!


