extends layout

block content
  .container
    .center-content
      h1.welcome Welcome to BookWorld!
      p.description
        | Welcome to our book library website. Here, you can find a vast collection of books from various genres.

      h2.how-to How to Use the Library?
      p.description
        | Our book library is easy to navigate. Simply use the navigation bar at the top to explore different sections of the website.
        br
        | Books ➡️ Enter the Genre ➡️ Voila! There you have the top 10 books as per Google Ratings! 
