doctype html
html
  head
    title BookWorld Website
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      nav
        .logo
          a(href='/') BOOKWORLD
        ul.nav-links
          li
            a(href='/') Home
          li
            a(href='/books') Books
          li
            a(href='/about') About
          li
            a(href='/contact') Contact

    main
      block content
    footer
      p &copy; 2023 BookWorld Website. All rights reserved.







